name: Release dry-run (run against dev branch)

on: workflow_dispatch

jobs:
  preview-release:
    if: ${{ contains(github.ref, 'dev') }}
    runs-on: ubuntu-latest
    steps:
        - uses: styfle/cancel-workflow-action@0.8.0
          with:
              access_token: ${{ secrets.GITHUB_TOKEN }}
        - uses: actions/checkout@v2
          with:
              token: ${{ secrets.GITHUB_TOKEN }}
              fetch-depth: '0'
        - uses: actions/setup-node@v2
          with:
              node-version: 16
        - name: Install node modules
          run: npm ci
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        - name: Dry run
          run: npx semantic-release --dry-run
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
